*{
    margin: 0%;
    padding: 0%;
}

body{
    max-height: 100vh;
}

body, html {
    /* Apply the custom cursor to the entire webpage */
    cursor: url('assets/imgs/cursor_7951839.png'), default;
}

section.wrapper{
    text-align: center;
    /*padding-top: 2%;*/
}

canvas {
    display: block;
    /*float: left;*/
    outline: 1px solid black;
    /*max-height: 70vh;
    max-width: 100vw;*/
    height: 80vh;
    width: 100vw;
    /*padding: 2px;
    margin: 2%;
    margin-left: 17%;*/
}

#game-text{
    padding: 2%;
    color: white;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}

#text-box{
    display: block;
    background-color: black;
    width: 100vw;
    height: 20vh;
}

/*#game-text{
    float: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

/* for mobile */
@media only screen and (max-width: 700px){
    canvas{
        float: none;
        width: fit-content;
        height: fit-content;
        padding: 0%;
        margin: 0%;
    }
    .start{
        width: 95%;
        margin: 0%;
        padding-top: 5%;
    }
}